        /********** Base styles **********/
    
    .row {
        margin-bottom: 15px;
    }
    
    .row>div {
        border: 10px
    }
    
    * {
        box-sizing: border-box;
    }
    
    h1 {
        margin-bottom: 15px;
        text-align: center;
        font-family: Helvetica;
    }
    
    p {
        position: center;
        border: 1px solid black;
        border: 1px solid black;
        background-color: rgb(204, 204, 204);
        width: 100%;
        height: 150px;
        font-family: Helvetica;
        color: white;
    }
    
    .title1 {
        text-align: center;
        border: 1px solid black;
        background-color: rgb(236, 73, 149);
        width: 100px;
        height: 25px;
        color: white;
        float: right;
    }
    
    .title2 {
        text-align: center;
        border: 1px solid black;
        background-color: rgb(243, 10, 10);
        width: 100px;
        height: 25px;
        color: white;
        float: right;
    }
    
    .title3 {
        text-align: center;
        border: 1px solid black;
        background-color: rgb(251, 255, 0);
        width: 100px;
        height: 25px;
        color: white;
        float: right;
    }
    /********** Desktop Mode **********/
    
    @media (min-width: 992px) {
        .col-lg-1,
        .col-lg-2,
        .col-lg-3 {
            float: left;
            border: 1px solid rgb(255, 255, 255);
            clear: unset;
        }
        .col-lg-1 {
            width: 33.33%;
        }
        .col-lg-2 {
            width: 33.33%;
        }
        .col-lg-3 {
            width: 33.33%;
        }
    }
    /********** Tablet Mode **********/
    
    @media (min-width: 768px) and (max-width: 991px) {
        .col-md-1,
        .col-md-2,
        .col-md-3 {
            float: left;
            border: 1px solid rgb(255, 255, 255);
        }
        .col-md-1 {
            width: 50%;
        }
        .col-md-2 {
            width: 50%;
        }
        .col-md-3 {
            width: 100%;
            text-align: center;
        }
    }
    /********** Phone Mode **********/
    
    @media (max-width: 767px) {
        .col-md-1,
        .col-md-2,
        .col-md-3 {
            float: left;
            border: 1px solid rgb(255, 255, 255);
        }
        .col-md-1 {
            width: 100%;
        }
        .col-md-2 {
            width: 100%;
        }
        .col-md-3 {
            width: 100%;
        }
    }
